
#linguagem {
			font-family: 'Courier New', Courier, monospace; 
			background-color: #00FFFF; 
			color: #ffe600;
			text-align: center;
}
#marca{
			font-family: 'Courier New', Courier, monospace; 
			background-color: #000000; 
			color: #ffe600;
			text-align: center;

			}

p{
    background: #000000;
    color: #ffe600;

}
			
